{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
        $(document).ready(function(){
            $('.form').validate({
              rules: {
                  name: 'required',
                  email: {
                      required: true,
                      email: true,
                      remote: '/account/validate-email'
                  },
                  password: {
                      required: true,
                      minlength: 6,
                      validPassword: true
                  }
                },
                  messages: {
                      email: {
                          remote: 'email already taken'
                      }
                  },
                  errorContainer: "#error",
                  errorLabelContainer: "#error",
               
            });

            $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus',
            toggle: {
                className: 'btn-warning'
            }

            });
        });
      
    </script>
    
{% endblock %}

{% block body %}
<link rel="stylesheet" href="/vendors/css/registerStyle.css" />
    
    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="title">
                            Create a new finanse manager account.
                        </div>
                        <form class="form" method="post" action="/signup/create">
                            <div class="form-group">
                                <label for="inputName"> Name </label>
                                <input id="inputName" name="name" placeholder="Name" value="{{ user.name }}" required
                                class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail"> Email address </label>
                                <input id="inputEmail" name="email" placeholder="email address"value="{{ user.email }}" required type="email"
                                class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword"> Password </label>
                            <input type="password" id="inputPassword" name="password" placeholder="Password"
                                        aria-describedby="helpBlock" class="form-control"/>
                            </div>
                            <div class="inputfield btn-warning">
                                <button type="submit" class="btn btn-warning">Sign up</button>
                            </div>
                            <p><a href="/login">Already have an account? Log in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
   
   
{% endblock %}
