{% extends "base.html" %}

{% block title %}Sign up{% endblock %}



{% block footer %}
 <script src="/js/hideShowPassword.min.js"></script>

 <script>
 
	$.validator.addMethod('validPassword',
		function(value, element, param){
			if (value != ''){
				if(value.match(/.*[a-z]+./i) == null){
					return false;
				}
				if(value.match(/.*\d+./i) == null){
					return false;
				}
			}
			return true;
		},
		'Must containt at least one letter and one number'
	);
	
	$(document).ready(function() {
		$('#formSignup').validate({
			rules: {
				name: 'required',
				email: {
					required: true,
					email: true,
					remote: '/account/validate-email' //send ajax request to server and get resposone as json and encode it
				},
				password: {
					required: true,
					minlength: 6,
					validPassword: true
				}
			},
			messages: {
					email: {
						remote: 'email already taken'
					}
				}
		});
		
		$('#inputPassword').hideShowPassword({
			show: false,
			innerToggle: 'focus'
		});
	});
 </script>
{% endblock %}
{% block body %}
    <h1>Sign up</h1>
	
	<form id="formSignup" method="post" action="/signup/create">
		<div class="inputfield">
			<label for="name">Name</label>
			<input type="text" id="name" name="name" class="input" placeholder="name" value="{{ user.name }}" required /> 
		</div>
		<div class="inputfield">
			<label for="email">Email Address</label>
			<input id="email" name="email" class="input" placeholder="email address" value="{{ user.email }}" required type="email"  />
		</div>
		<div class="inputfield">
			<label for="inputPassword">Password</label>
			<input type="password" id="inputPassword" name="password" class="input" placeholder="Password" required  />
		</div>
		
		
		<!--<div class="g-recaptcha" data-sitekey="6Lck-z8aAAAAAAvsfLI1iUrgtZyoDIS0FXApfSpb"></div>-->
		<div class="inputfield btn-warning">
			<input type="submit" value="Signup" class="btn">
		</div>
		 <p><a href="/login">Login</a></p>
	</form>
	
	
{% endblock %}
