{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
<link rel="stylesheet" href="/vendors/css/registerStyle.css" />
<main>
   <div class="container">
       <div class="row">
           <div class="col-md-6">
               <div class="wrapper">
                  <h1>Password reset successfully</h1>
                   <p>You can now <a href="/login">login</a>.</p>
               </div>
           </div>
       </div>
   </div>
</main>

   

{% endblock %}
