{% extends "base.html" %}

{% block title %}Balance{% endblock %}


{% block footer %}
<script>
       
    $( document ).ready(function() {
        
    });

 </script>
{% endblock %}
   
{% block body %}
   <h1>Balance</h1>

   <main>
    <div class="container">
		<div id="setDateRangeForm">
		<i class="far fa-calendar-check"></i><span style="font-size: 20px;"> Set date range of your transactions:</span>
		<div class="line"> </div>        
		<div class="box">
            <form method="post" action="/balance/show" name="dateCategory">
                <select name="dateCategory" id="dateCategory" onchange="this.form.submit();">  
                    <option value="1" {% if selected == 1 %} selected {% endif %}>Current Month </option> 
                    <option value="2" {% if selected == 2 %} selected {% endif %}>Last Month </option>  
                    <option value="3" {% if selected == 3 %} selected {% endif %}>This year </option>  
                    <option value="4" {% if selected == 4 %} selected {% endif %}>Total Time </option>  
                 </select> 
            </form>
			
		</div>
		</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="Category">
						<header>
							<div class="CategoryHeader"><h4>Incomes</h4></div>
						</header>
							<div class="CategoryColumn">
								<ul class="CategoryRow" id="incomes">
                                    {% for allIncomeOfUser in allIncomesOfUser %}
                                    <li>{{ allIncomeOfUser['name'] }}: {{ allIncomeOfUser['sum'] }}</li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
				</div>
                <div class="col-lg-6">
                    <div class="Category">
                       <header>
                           <div class="CategoryHeader"><h4>Expences</h4></div>
                       </header>
                            <div class="CategoryColumn">
                                <ul class="CategoryRow" id="expenses">
                                    {% for allExpenseOfUser in allExpensesOfUser %}
                                    <li>{{ allExpenseOfUser['name'] }}: {{ allExpenseOfUser['sum'] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                   </div>
               </div>  
			</div>
        <div style="clear: both;"></div>
        <div id="balance">
             {% if sumFromIncomesAndExpenses >= 0 %}
                <div id="balanceWindow">
                    <h5>Your balance is: {{ sumFromIncomesAndExpenses }} zł
                    <br>
                    <div class="line"> Welll done! </h5> </div>
                </div>
                {% else %}
                <div id="balanceWindow" style="background-color:#cc7a00">
                    <h5>Your balance is: {{ sumFromIncomesAndExpenses }} zł
                    <br>
                    <div class="line"> Try to get better incomes or spend less money on expenses. </h5> </div>
                </div>
            {% endif %}
		</div>
	</div>
	</main>
{% endblock %}

