{% extends "base.html" %}

{% block title %}Balance{% endblock %}


{% block footer %}



<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
    $(function() {
        var start = moment().startOf('month');
        var end = moment().endOf('month');
        function cb(start, end) {
            console.log(start.format('YYYY-MM-DD'));
            $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
            //Ajax call?
            $.ajax({
                type: "POST",
                url: "/balance/change",
                data: {start: start.format('YYYY-MM-DD'),
                        end: end.format('YYYY-MM-DD')},
                dataType:'JSON', 
                success: function(response){
                var container = $('')
                       var resultIncomes ='';
                       var resultExpenses ='';
                       var resultSumFromIncomesAndExpences ='';

                       $.each(response.allIncomesOfUser, function (i, val) {
                           
                           container.append(val)
                           resultIncomes += "<li>" + val['name'] + " : " + val['sum'] + " zł</li>";
                       })
                       $('#incomes').html(resultIncomes);
                       $.each(response.allExpensesOfUser, function (i, val) {
                       
                           container.append(val)
                           resultExpenses += "<li>" + val['name'] + " : " + val['sum'] + " zł</li>";
                       })
                       $('#expenses').html(resultExpenses);
                       if(response.sumFromIncomesAndExpenses > 0) {
                           resultSumFromIncomesAndExpences = "<div id='balanceWindow'><h5>Your balance is: " + response.sumFromIncomesAndExpenses + " zł<br><div class='line'> Well done! </h5></div></div>" ; 
                       }else if (response.sumFromIncomesAndExpenses == 0) {
                        resultSumFromIncomesAndExpences = "<div id='balanceWindow' style='background-color: #baa30b;' ><h5>Your balance is: " + response.sumFromIncomesAndExpenses + " zł<br><div class='line'></h5></div></div>" ; 
                       }
                        else {
                          resultSumFromIncomesAndExpences = "<div id='balanceWindow' style='background-color:#cc7a00'><h5>Your balance is: " + response.sumFromIncomesAndExpenses + " zł<br><div class='line'> Try to get better incomes or spend less money on expenses. </h5></div></div>" ;
                       }
                       $('#balance').html(resultSumFromIncomesAndExpences);
                    
                        var my_2d_income = response.allIncomesOfUser
                        var my_2d_expense = response.allExpensesOfUser
                         // Load the Visualization API and the corechart package.
                        google.charts.load('current', {'packages':['corechart']});

                        // Set a callback to run when the Google Visualization API is loaded.
                        
                        if (my_2d_income.length > 0) google.charts.setOnLoadCallback(draw_my_chart_incomes);
                        else  $('#chart_div_incomes').html("there are no incomes from this period time.");  
                        if (my_2d_expense.length > 0) google.charts.setOnLoadCallback(draw_my_chart_expenses);
                        else  $('#chart_div_expenses').html("there are no expenses from this period time.");    
                       
                        // Callback that creates and populates a data table,
                        // instantiates the pie chart, passes in the data and
                        // draws it.
                        function draw_my_chart_incomes() {
                            // Create the data table .
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'name');
                        data.addColumn('number', 'amount');
                        for(i = 0; i < my_2d_income.length; i++)
                        data.addRow([my_2d_income[i][0], parseInt(my_2d_income[i][1])]);
                        // above row adds the JavaScript two dimensional array data into required chart format
                        var options = {title:'Costs Incomes',
                                    width:450,
                                    height:300,
                                    titleTextStyle: {color:'#FFFFFF'}, 
                                    backgroundColor: {fill:'transparent'},
                                        is3D: true,
                                        chartArea:{right: 80,width:'50%',height:'75%'}};

                        // Instantiate and draw the chart
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div_incomes'));
                        chart.draw(data, options);
                        } 
                        function draw_my_chart_expenses() {
                        // Create the data table .
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'name');
                        data.addColumn('number', 'amount');
                        for(i = 0; i < my_2d_expense.length; i++)
                        data.addRow([my_2d_expense[i][0], parseInt(my_2d_expense[i][1])]);
                        // above row adds the JavaScript two dimensional array data into required chart format
                        var options = {title:'Costs Expenses',
                                    width:450,
                                    height:300,
                                    titleTextStyle: {color:'#FFFFFF'}, 
                                    backgroundColor: {fill:'transparent'},
                                        is3D: true,
                                        chartArea:{right: 80,width:'50%',height:'75%'}};

                        // Instantiate and draw the chart
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div_expenses'));
                        chart.draw(data, options);
                         }
                        
                      
             }
            }); 
        }
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start, end);
    });


    $( document ).ready(function() {
        
        

    });


 </script>
{% endblock %}
   
{% block body %}
<h3 > 
    <i class="fas fa-chart-pie" style="color:orange"></i>Balance
</h3>
    <hr> 
    

   <main>
   
    <div class="container">
        
			<div class="row">
                <div class="col-lg-9">
                    <div id="balance"></div>
                </div>
                <div class="col-lg-3">
                    <div id="reportrange" style="background: rgb(25, 98, 167); cursor: pointer; padding: 5px 10px; border: 1px solid rgb(58, 73, 212); width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    </div>
				<div class="col-lg-6">
					<div class="Category">
						<header>
							<div class="CategoryHeader"><h4>Incomes</h4></div>
						</header>
							<div class="CategoryColumn">
								<ul class="CategoryRow" id="incomes">
                                    
								</ul>
							</div>
						</div>
				</div>
                <div class="col-lg-6" >
                    <div id="chart_div_incomes"></div>
               </div>
			</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="Category">
                       <header>
                           <div class="CategoryHeader"><h4>Expences</h4></div>
                       </header>
                            <div class="CategoryColumn">
                                <ul class="CategoryRow" id="expenses">
                                  
                                </ul>
                            </div>
                   </div>
               </div>
                <div class="col-lg-6">
                     <div id="chart_div_expenses"></div>
                </div>
            </div>
            </div>
	
	</main>
{% endblock %}

