{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    
    {% if current_user %}
    
        Hello {{ current_user.name }} !
        <main>
            <div class="container" style="margin-top: 200px;">
                <div class="row">
                    <div class="col-lg-6 col-xl-3">
                    <a href="/Balance/show">
                        <div class="balance text-center">
                            <h3>Balance</h3>
                            <h5>On this page you can check your summary of incomes and expences.</h5>
                            <div class="iconmain"><img src="/img/balance.png" alt="balance" /></div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                    <a href="/Income/index">
                        <div class="income text-center">
                            <h3>Add income</h3>
                            <h5>Provide the amount, select one specific category and do not gap your salary !</h5>
                            <div class="iconmain"><img src="/img/income.png" alt="income" /></div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                    <a href="/Expense/index">
                        <div class="expence text-center">
                            <h3>Add expense</h3>
                            <h5>Provide the amount, select <strong>payment method</strong> and select one specific category.</h5>
                            <div class="iconmain"><img src="/img/expence3.png" alt="expence" /></div>
                        </div>
                    </a>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                    <a href="/Settings/show">
                        <div class="settings text-center">
                            <h3>Settings</h3>
                            <h5>Add, edit and delete category to have everything you need for better managin your finanse.</h5>
                            <div class="iconmain"><img src="/img/settings.png" alt="setting" /></div>
                        </div>
                    </a>
                    </div>
        
                </div>
            </div>
            </main>
            
            <footer>
            </footer>
        {% else %}
       
        <main>
            <br><br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Make money and be funny </h1>
                        <p>This is a simple, intuitive tool for everyday use.This website allows you to control incomes and expences.You can display all your statistics to optimize managing your money.</p>
                        <a href = "/signup/new"type="button" class="btn btn-warning button1" >get Started!</a>
                        <a href = "/login"type="button" class="btn btn-warning button1" >login</a>
                    </div>
                    <div class="col-md-6">
                        <!-- <div id="office"><img src="resources/img/money3.png" alt="statistics" /></div> -->
                        <div class="slider">
                            <h3>Budget Manager!</h3>
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/img/balance.png" alt="First slide">
                                        <div class="carousel-caption  d-md-block">
                                            <h5>Check Balance</h5>
                                            <p><strong>Get analysis from your incomes and expences !</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/img/income.png" alt="Second slide">
                                            <div class="carousel-caption d-md-block">
                                            <h5>Add Income</h5>
                                            <p><strong>Add all incomes into one place !</strong></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="/img/expence3.png" alt="Third slide">
                                        <div class="carousel-caption  d-md-block">
                                            <h5>Check Expence</h5>
                                            <p><strong>Be aware of where you are spending most money!</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                    <span class="sr-only">Next</span>
                                </a>
    
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </main>
        {% endif %}
{% endblock %}
