{% extends "base.html" %}

{% block title %}Settings{% endblock %}


{% block footer %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    
    $( document ).ready(function() {
        
        // $.ajax({
        //     type: 'GET',
        //     url: '/settings/display',
        //     dataType: 'JSON',
        //     success: function(response){
        //         var resultIncomesCategories ='';
        //         var resultExpenseCategories ='';
        //         var resultPaymentMethodCategories ='';
        //         var container = $('')
               
        //                 $.each(response.getIncomesCategoryAssignedToUser, function (i, val) {
        //                     container.append(val)
        //                     resultIncomesCategories += "<li>" + val['name'] +  "<div class = 'editDeleteSpanIncome'><a href='#edit-income-modal" + val['id'] + "'data-toggle='modal'><i class='fas fa-pencil-alt edit btn'></i></a></div>" + "</li>";
        //                 })
        //               //  $('#incomes').html(resultIncomesCategories);     
        //                 $.each(response.getExpensesCategoryAssignedToUser, function (i, val) {
        //                     container.append(val)
        //                      resultExpenseCategories += "<li>" + val['name'] +  "</li>";
        //                 })
        //                // $('#expenses').html(resultExpenseCategories);    
        //                 $.each(response.getPaymentMethodsAssignedToUser, function (i, val) {
        //                     container.append(val)
        //                      resultPaymentMethodCategories += "<li>" + val['name'] +  "</li>";
        //                 })
        //                 //$('#paymentMethods').html(resultPaymentMethodCategories); 
        //     }
        // }) 
         
        $(".editIncome").click(function () {
            var incomeId = $(this).attr('data-id');
            var income = $(this).attr('data-info-income'); 
            $('#form-edit-income').attr('action', 'edit-income?id=' + incomeId);
            $('#income_id').val(income);
            
        });
        $(".deleteIncome").click(function () {
            var incomeId = $(this).attr('data-id');
            var income = $(this).attr('data-info-income'); 
            $('#form-delete-income').attr('action', 'delete-income?id=' + incomeId);
            document.getElementById('delete-income').innerHTML = income; 
        });
        $(".editExpense").click(function () {
            var expenseId = $(this).attr('data-id');
            var expense = $(this).attr('data-info-expense'); 
            var limit = $(this).attr('data-info-limit');
            $('#form-edit-expense').attr('action', 'edit-expense?id=' + expenseId);
            $('#expense_id').val(expense);
            $('#expenselimit_id').val(limit);
        });
        $(".deleteExpense").click(function () {
            var expenseId = $(this).attr('data-id');
            var expense = $(this).attr('data-info-expense'); 
            $('#form-delete-expense').attr('action', 'delete-expense?id=' + expenseId);
            document.getElementById('delete-expense').innerHTML = expense; 
        });
        $(".editPaymentMethod").click(function () {
            var paymentMethodId = $(this).attr('data-id');
            var paymentMethod = $(this).attr('data-info-payment-method'); 
            $('#form-edit-payment-method').attr('action', 'edit-payment-method?id=' + paymentMethodId);
            $('#payment_method_id').val(paymentMethod);
        });
        $(".deletePaymentMethod").click(function () {
            var paymentMethodId = $(this).attr('data-id');
            var paymentMethod = $(this).attr('data-info-payment-method'); 
            $('#form-delete-payment-method').attr('action', 'delete-payment-method?id=' + paymentMethodId);
            //$('#payment_method_id').val(paymentMethod);
            document.getElementById('delete-payment-method').innerHTML = paymentMethod; 
        });
        
        $("#editProfile").click(function(){
            $("#profileDetails").fadeToggle();
            $('#editOptions').fadeToggle();
        });

        $("#incomes-categories").click(function(){
            $("#incomes").fadeToggle();
        });

    });



 </script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div id="profileDetails">
            <div class="row">
                <div class="col" style="border-right: 0.5px solid #38b6ff;">
                    <div id="overlay"><img src="/img/profile.png" alt="profile" /></div>
                </div>
                <div class="col">
                    <ul id="profileDetailsList">
                       <li>
                        {{ user.name }}
                    </li>
                        <li>{{ user.email }}	
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span id="editProfile" type="button" class="btn btn-info CategoryFooter"> <p style="margin-left: 14px;  float: left;"> <i class="far fa-user"></i></p> User <p class="header-icon"> <i class="fas fa-arrows-alt-v "></i> </p></span>
        <div id="editOptions">
            <div class="row">
                <div class="col-lg-6">

                    <span ><a  href="/settings/edit"  type="button" class="btn btn-info settings-button"  >
                        <p style=" margin-bottom:0px; float: left;"><i class='fas fa-pencil-alt edit_btn'></i></p>Edit user profile</a></span>
                </div>
                <div class="col-lg-6">

                    <span ><a  href="/settings/delete-all"  type="button" class="btn btn-danger settings-button" style="background-color:#ff6e6e;" >
                        <p style=" margin-bottom:0px; float: left;"><i class='far fa-trash-alt'></i></p>Delete All Incomes And Expenses</a></span>
                </div>
                <div class="col-lg-12">

                    <span ><a  href="/settings/delete-all"  type="button" class="btn btn-danger settings-button" style="background-color:#ff6e6e;"  >
                        <p style=" margin-bottom:0px; float: left;"><i class="fas fa-broom"></i></p>Delete Your Account</a></span>
                </div>
            </div>
            
           
        </div>

        
    </div>
    <div class="col-lg-4">
        <div class="Category" >
            <header >
              <button id="incomes-categories" type="button" class="btn btn-info" style="width: 100%;">  Incomes Categories <p style=" margin: 0;float: right;"><i i class="fas fa-arrow-down"></i></p></button> 
            </header>
            <div class="CategoryColumn" id="incomes">
                <ul class="CategoryRow">
                   {% for getIncomeCategoryAssignedToUser in getIncomesCategoryAssignedToUser %}
                   {% if getIncomeCategoryAssignedToUser['name'] != defaultCategory %}
                   <li>
                        {{ getIncomeCategoryAssignedToUser['name'] }} 
                        <span class = 'header-icon deleteIncome' data-id="{{ getIncomeCategoryAssignedToUser['id'] }}" data-info-income="{{ getIncomeCategoryAssignedToUser['name'] }}">
                            <a href="#delete-income-modal" data-toggle="modal" >
                            <i class='far fa-trash-alt'></i></a></span>
                        <span class="header-icon editIncome" data-id="{{ getIncomeCategoryAssignedToUser['id'] }}" data-info-income="{{ getIncomeCategoryAssignedToUser['name'] }}">
                            <a href="#edit-income-modal" data-toggle='modal' type="button"><i class='fas fa-pencil-alt edit_btn'></i></a></span>
                    </li>
                    {% endif %} 
                   {% endfor %}
                   <li> {{ defaultCategory }}</li>
                </ul>
                <footer>
						<span><a  href="#add-new-income" data-toggle="modal" type="button" class="CategoryFooter"><p style="padding-left: 10px; margin-bottom:0px; float: left;"><i class="fas fa-plus"></i></p>Add New Income</a></span>
				</footer>
        </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="Category">
            <header>
                <div class="CategoryHeader">Expences Categories</div>
            </header>
            <div class="CategoryColumn" id="expenses">
                <ul class="CategoryRow">
                    {% for getExpenseCategoryAssignedToUser in getExpensesCategoryAssignedToUser %}
                    {% if getExpenseCategoryAssignedToUser['name'] != defaultCategory %}
                    <li>
                            {{ getExpenseCategoryAssignedToUser['name'] }} 
                            <span class = 'header-icon deleteExpense' data-id="{{ getExpenseCategoryAssignedToUser['id'] }}" data-info-expense="{{ getExpenseCategoryAssignedToUser['name'] }}">
                                <a href="#delete-expense-modal" data-toggle="modal" >
                                <i class=' far fa-trash-alt'></i></a></span>
                             <span class="header-icon editExpense" data-info-limit = "{{ getExpenseCategoryAssignedToUser['monthly_limit'] }}" data-id="{{ getExpenseCategoryAssignedToUser['id'] }}" data-info-expense="{{ getExpenseCategoryAssignedToUser['name'] }}">
                                <a href="#edit-expense-modal"  data-toggle='modal' type="button">
                                    <i class='fas fa-pencil-alt edit_btn'></i></a></span>
                                    {% if getExpenseCategoryAssignedToUser['monthly_limit'] != null %} <div class="limit"> Limit: {{ getExpenseCategoryAssignedToUser['monthly_limit'] }} zł</div> {% endif %}
                     </li>
                      
                     {% endif %} 
                    {% endfor %}
                    <li> 
                        {{ defaultCategory }}
                        {% if getExpenseCategoryAssignedToUser['monthly_limit'] != null %} <span class="limit"> Limit: {{ getExpenseCategoryAssignedToUser['monthly_limit'] }} zł</span> {% endif %} 
                    </li>
                </ul>
          
            <footer>
                <span><a  href="#add-new-expence" data-toggle="modal" type="button" class="CategoryFooter"><p style="padding-left: 10px; margin-bottom:0px; float: left;"><i class="fas fa-plus"></i></p>Add New Expence</a></span>
            </footer>
        </div>
    </div>
 </div>
    <div class="col-lg-4">
        <div class="Category">
            <header>
                <div class="CategoryHeader" >Payment Methods</div>
            </header>
            <div class="CategoryColumn" id="paymentMethods">
                <ul class="CategoryRow">
                    {% for getPaymentMethodAssignedToUser in getPaymentMethodsAssignedToUser %}
                    {% if getPaymentMethodAssignedToUser['name'] != defaultCategoryOfPaymentMethods %}
                    <li>
                            {{ getPaymentMethodAssignedToUser['name'] }} 
                            <span class = 'header-icon deletePaymentMethod' data-id="{{ getPaymentMethodAssignedToUser['id'] }}" data-info-payment-method="{{ getPaymentMethodAssignedToUser['name'] }}">
                                <a href="#delete-payment-method-modal" data-toggle="modal" ><i class=' far fa-trash-alt'></i></a></span>
                             <span class = 'header-icon editPaymentMethod' data-id="{{ getPaymentMethodAssignedToUser['id'] }}" data-info-payment-method="{{ getPaymentMethodAssignedToUser['name'] }}">
                                 <a href="#edit-payment-method-modal" data-toggle='modal' type="button">
                             <i class=' fas fa-pencil-alt edit_btn'></i></a></span>
                     </li>
                     {% endif %} 
                    {% endfor %}
                     <li> {{ defaultCategoryOfPaymentMethods }}</li>
                </ul>
                
                 <footer>
                <span><a  href="#add-new-payment-method" data-toggle="modal" type="button" class="CategoryFooter"><p style="padding-left: 10px; margin-bottom:0px; float: left;"><i class="fas fa-plus"></i></p>Add New Payment</a></span>
            </footer>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
